{{#each this}}
<li>
    <h1>{{name}}</h1>
    <ul>
        <li><span>Capital: {{capital}}</span></li>
        <li><span>Population: {{population}}</span></li>
        <li>
               <span> Languages:
                   {{#each languages}}
                <span>{{this.name}}</span>
                {{/each}}
                </span>
        </li>
    </ul>
    <div><img src="{{flag}}" alt="Flag" class="img-flag" width="400" height="auto"></div>
</li>
{{/each}}